<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sign uo page</title>
    <link th:herf="/file.css" rel="stylesheet" >
</head>
<body>
<h1>login page</h1>
<form action="/singup" method="post"  >
    <label  for="username"  >Username</label>
    <input type="text" name="username"id="username">
    <label  for="password"  >Password</label>
    <input type="password" name="password"id="password">

    <input type="submit" >

</form>

</body>
</html>