<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
<!--    <link th:herf="/file.css" rel="stylesheet" >-->
</head>
<body>
<h1>login page</h1>
<form action="/perform_login" method="post"  >
    <label  for="username"  >Username</label>
    <input type="text" name="username"id="username">
    <label  for="password"  >Password</label>
    <input type="password" name="password"id="password">
    <a href="javascript: document.logoutForm.submit()">Logout</a>

    <input type="submit" >
    <a  href="/signup" > click here  for new  sign up </a>
</form>
</body>
</html>