<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

    </style>


    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="'/login">login</a></li>
        <li><a href="/signup">sign up</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>


</head>
<body>
<div>
    <img src="download.jpg" alt="Italian Trulli"
         width="460" height="345">

    <table>
        <thead>
        <tr>
            <th> Id</th>
            <th> username</th>
            <th> firstName</th>
            <th> lastName</th>
            <th> dateOfBirth</th>
            <th> bio </th>

        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text = "${course.id}"></td>
            <td th:text = "${course.username}"></td>
            <td th:text = "${course.firstName}"></td>
            <td th:text = "${course.lastName}"></td>
            <td th:text = "${course.dateOfBirth}"></td>
            <td th:text = "${course.bio}"></td>


    </table>


</div>
</body>
</html>